/* General styling */
* {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  color: white;
  background-color: #212121;
}

h1,
h2 {
  color: white;
  margin-bottom: 10px;
}

.floating {
  float: left;
  margin-right: 20px;
}

@media (max-width: 1300px) {
  .floating {
    float: none;
    margin-right: 20px;
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.to-wrap {
  width: 800px;
  height: 350px;
}

.to-wrap-code {
  height: 240px;
}

article {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 16px;
  padding: 20px;
  border-radius: 8px;
  color: #333;
}

pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 25px;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.5;
  max-width: 800px;
}

code {
  font-family: "Courier New", Courier, monospace;
  color: inherit;
  font-size: 14px;
}
